<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="fore.css">
</head>

<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a href="http://www.booking.es/Hoteles" target="_blank">Hotel </a></li>
					<li><a href="www.europcar.es" target="_blank">Renting Car </a></li>
					<li><a href="www.skyscanner.es" target="_blank">Fligths </a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container" id="app">

		<div id="background-wrap" v-if="mensaje == 'temperature is cold'">
			<div class="x1">
				<div class="cloud"></div>
			</div>
			<div class="x2">
				<div class="cloud"></div>
			</div>
		</div>
		<div id="raysDemoHolder" v-if="mensaje == 'temperature is sunny'">
			<div id="rays">
			</div>
		</div>

		<div id="selector">
			<h1>Travel Guide for Beginners</h1>
			<p><span class="glyphicon glyphicon-search"></span>Select City to Travel</p>
			<form name="formulario">
				<select   v-model="selected" id="cities" name="cities" @change="getCity">
					<option v-for="option in options" name="options">
						{{ option.city }}
					</option>
				</select>
			</form>
		</div>
		<div id="temperature">
			<div id="condition">
				<div v-if="mensaje == 'temperature is cold'">
					<img src="images/cloud.jpg" name="uno">
				</div>
				<div v-if="mensaje == 'temperature is sunny'">
					<img src="images/sun2.jpg" name="dos">
				</div>
			</div>
			<table class="table table-hover" id="tabla">
				<tr class="success">
					<td>Weather</td>
					<td>{{mensaje}}</td>
				</tr>
				<tr class="info">
					<td>City</td>
					<td>{{cityname}}</td>
				</tr>
				<tr class="danger">
					<td>Temp.Max.</td>
					<td>{{max}}ºC</td>
				</tr>
				<tr class="info">
					<td>Temp.Min.</td>
					<td>{{min}}ºC</td>
				</tr>
				<tr class="warning">
					<td>Humidity</td>
					<td>{{humy}}%</td>
				</tr>
			</table>
		</div>


		<div id="food">
			<h1>Local Food Recomendation</h1>
			<div id="foodimage">
				<div v-if="one == 'Madrid'">
					<h3>Madrid:</h3>
					<p>Cocido Madrileño</p><img src="images/CocidoMadrile%C3%B1o.jpg">
				</div>
				<div v-if="one == 'London' ">
					<h3> London: </h3>
					<p>Fish and Chips</p><img src="images/fish_chips.jpg">
				</div>
				<div v-if="one == 'Paris' ">
					<h3> Paris: </h3>
					<p>Soupe a L'Oignon</p><img src="images/Onion_soup.jpg">
				</div>
				<div v-if="one == 'Porto' ">
					<h3> Port: </h3>
					<p>Francesinhas</p><img src="images/francesinha.jpg">
				</div>
				<div v-if="one == 'Rome' ">
					<h3> Rome: </h3>
					<p>Gnocchi</p><img src="images/gnocchi.jpg">
				</div>
				<div v-if="one == 'Athens' ">
					<h3> Athens: </h3>
					<p>Tzatziki</p><img src="images/Tzatsiki.jpg">
				</div>
				<div v-if="one == 'Berlin' ">
					<h3> Berlin: </h3>
					<p>Eisbein</p><img src="images/eisbein.jpg">
				</div>
				<div v-if="one == 'Vienna' ">
					<h3> Vienna: </h3>
					<p>Wiener Schnitzel</p><img src="images/Wiener_Schnitzel.JPG">
				</div>
				<div v-if="one == 'Moscow' ">
					<h3> Moscow: </h3>
					<p>Borsch</p><img src="images/Borsch.jpg">
				</div>
				<div v-if="one == 'Helsinki'">
					<h3> Helsinki: </h3>
					<p>Kalakukko</p><img src="images/kalakukko.jpg">
				</div>
			</div>
		</div>
	</div>
	<footer id="footer">
		<h6> &copy; 2018 | All Rigths Reserved</h6>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="weather.js"></script>
</body>

</html>
